<%= form_with(model: @purchase, local: true) do |f| %>
  <% if @purchase.errors.any? %>
    <div class="error_explanation">
      <h2>
        <%= pluralize(@purchase.errors.count, "error") %>
        以下のエラーによりSaveできませんでした。
      </h2>
      <ul>
        <%= @purchase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">

    <div class="col-md-4">
      <p>
        <%= f.label "Supplier" %><br>
        <%= f.collection_select :supplier_id, Supplier.all, :id, :name, {:prompt=>"選択してください"}, {:class=>'form-control custom-select'} %>
      </p>
    </div>
    <div class="col-md-2">
      <p>
        <%= f.label "Total(CAD)" %><br>
        <%= f.number_field :price, {:step=>"0.01", :class=>"form-control"} %>
      </p>
    </div>

    <div class="col-md-2">
      <p>
        <%= f.label "CAD" %><br>
        <%= f.number_field :cad, {:step=>"0.01", :class=>"form-control"} %>
      </p>
    </div>

    <div class="col-md-2">
      <p>
        <%= f.label "JPY" %><br>
        <%= f.number_field :jpy, class: "form-control" %>
      </p>
    </div>

    <div class="col-md-2">
      <p>
        <%= f.label "Exchange Rate" %><br>
        <%= f.number_field :exchangerate, {:step=>"0.01", :class=>"form-control"} %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <p>
        <%= f.label "Payment Method" %><br>
        <%= f.select :payment_method, ["PayPal(RBC)", "PayPal(楽天)", "TD Credit Card"], {:prompt=>"選択してください"}, {:class=>'form-control custom-select'} %>
      </p>
    </div>

    <div class="col-md-3">
      <p>
        <%= f.label "Order Date" %><br>
        <%= f.date_field :order_date, class: "form-control" %>
      </p>
    </div>

    <div class="col-md-3">
      <p>
        <%= f.label "Payment Date" %><br>
        <%= f.date_field :payment_date, class: "form-control" %>
      </p>
    </div>
  </div>

  <div class="row">
    <p>
      <%= f.label "Note" %><br>
      <%= f.text_area :note, size: "200x3", class: "form-control" %>
    </p>
  </div>

  <div class="row list-item-nested-form">
    <h3>Line Items</h3>
    <%= link_to_add_association "Add Line", f, :lines, class: "btn btn-primary add-list",
        data: {
          association_insertion_node: '#list-association',
          association_insertion_method: 'append'}
    %>
    <table class="table table-sm table-hover puchaseTableHeader">
      <thead>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Discount</th>
        <th></th>
      </thead>
      <tbody id='list-association'>
        <div class='form-group'>
          <%= f.fields_for :lines do |l| %>
            <%= render 'line_fields', f: l %>
          <% end %>
        </div>
      </tbody>
    </table>
  </div>

  <div class="row">
    <p>
      <%= f.submit "Save", class: "btn btn-primary" %>
    </p>
  </div>

<% end %>
<%= link_to "Back", purchases_path %>
