<div class="row purchaseTableHeader">
  <div class="col-sm-3 add-button">
    <%= link_to "Add New Purchase", new_purchase_path, {class: "btn btn-primary"} %>
  </div>
  <div class="col-sm-3">
    <p>Sales<span>$<%= @total_sales %></span></p>
  </div>
  <div class="col-sm-3">
    <p>Purchase<span class="red">$<%= @total_purchase %></span></p>
  </div>
  <div class="col-sm-3">
    <p>Profit<span class="<%= 'red' if @profit < 0 %>">$<%= @profit %></span></p>
  </div>
</div>
<div class="row">
  <table class="table table-hover">
    <thead class="thead-dark">
      <th>ID</th>
      <th>Supplier</th>
      <th>Total(CAD)</th>
      <th>CAD</th>
      <th>JPY</th>
      <th>Exchange Rate</th>
      <th>Order Date</th>
      <th>Payment Date</th>
    </thead>
    <tbody>
      <% @purchases.each do |p| %>
      <tr class="<%= unpaid(p.payment_date) %>">
        <td><%= link_to p.id, edit_purchase_path(p.id) %></td>
        <td><%= p.supplier.name %></td>
        <td><strong><%= p.price %></strong></td>
        <td><%= p.cad %></td>
        <td><%= p.jpy %></td>
        <td><%= p.exchangerate %></td>
        <td><%= p.order_date %></td>
        <td><%= p.payment_date %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
