<div class="jumbotron">
  <h1 class="display-4">SDL2</h1>
  <p class="lead">Hello. Today is <%= Date.today %></p>
  <ul class="list-group">
    <li class="list-group-item"><%= link_to "Orders", orders_path %></li>
    <li class="list-group-item"><%= link_to "Purchases", purchases_path %></li>
    <li class="list-group-item"><%= link_to "Item Master", items_path %></li>
    <li class="list-group-item"><%= link_to "Customer Master", customers_path %></li>
    <li class="list-group-item"><%= link_to "Supplier Master", suppliers_path %></li>
  </ul>
</div>
