<div class="jumbotron">
  <h1 class="display-4">Welcome to JpGoods Tools!</h1>
  <p class="lead">ガッポガッポ儲けましょう。</p>
  <ul class="list-group">
    <li class="list-group-item"><%= link_to "受注管理", orders_path %></li>
    <li class="list-group-item"><%= link_to "発注管理", purchases_path %></li>
    <li class="list-group-item"><%= link_to "商品管理", items_path %></li>
    <li class="list-group-item"><%= link_to "顧客管理", customers_path %></li>
    <li class="list-group-item"><%= link_to "仕入先管理", suppliers_path %></li>
  </ul>
</div>
