<%= form_with(model: order, local: true) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(order.errors.count, "error") %>
        以下のエラーによりSaveできませんでした:
      </h2>
      <ul>
        <% order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-2">
      <%= f.label "Order Number" %><br>
      <%= f.number_field :order_number, class: 'form-control' %>
    </div>

    <div class="col-md-4">
      <%= f.label "Customer" %><br>
      <%= f.collection_select :customer_id, f.object.selectable_customers, :id, :name, {}, class: 'form-control custom-select' %>
    </div>

    <div class="col-md-3">
      <%= f.label "Order Date" %><br>
      <%= f.date_field :order_date, class: 'form-control' %>
    </div>

    <div class="col-md-3">
      <%= f.label "Payment Date" %><br>
      <%= f.date_field :payment_date, class: 'form-control' %>
    </div>
  </div>

  <div class="row list-item-nested-form">
    <h3>Line Items</h3>
    <%= link_to_add_association "Add Item", f, :lists, class: "btn btn-primary add-list",
        data: {
          association_insertion_node: '#list-association',
          association_insertion_method: 'append'}
    %>
    <table class="table table-sm table-hover orderTableHeader">
      <thead>
        <th>Item</th>
        <th>Quantity</th>
        <th>Discount</th>
        <th></th>
      </thead>
      <tbody id='list-association'>
        <div class='form-group'>
          <%= f.fields_for :lists do |l| %>
            <%= render 'list_fields', f: l %>
          <% end %>
        </div>
      </tbody>
    </table>
  </div>
  <div>
    <%= f.submit "Save", class: "form-control btn btn-primary" %>
    <%= link_to "Back", orders_path %>
  </div>
<% end %>
