<div class="row orderTableHeader">
  <div class="col-sm-3 add-button">
    <%= link_to "Add New Order", new_order_path, class: "btn btn-primary" %>
  </div>
  <div class="col-sm-3 od">
    <p>収益<span>$<%= @total_order %></span></p>
  </div>
  <div class="col-sm-3 pc">
    <p>支払<span class="red">$<%= @total_purchase %></span></p>
  </div>
  <div class="col-sm-3 profit">
    <p>合計収支<span class="<%= 'red' if @profit < 0 %>">$<%= @profit %></span></p>
  </div>
</div>

<div class="row">
  <table class="table table-hover">
    <thead class="thead-dark">
      <th>受注番号</th>
      <th>顧客名</th>
      <th>受注日</th>
      <th>支払日</th>
      <th>GST</th>
      <th>PST</th>
      <th>合計</th>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.order_number, order %></td>
        <td><%= order.customer.name %></td>
        <td><%= order.order_date %></td>
        <td><%= order.payment_date %></td>
        <td><%= order.gst %></td>
        <td><%= order.pst %></td>
        <td><%= order.total %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
