<!DOCTYPE html>
<html>
  <head>
    <title>SDL2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">SDL2</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if logged_in? %>
          <li class="nav-item<%= active_nav_item("orders") %>">
            <%= link_to "Orders", orders_path, class: "nav-link" %>
          </li>
          <li class="nav-item<%= active_nav_item("purchases") %>">
            <%= link_to "Purchases", purchases_path, class: "nav-link" %>
          </li>
          <li class="nav-item<%= active_nav_item("items") %>">
            <%= link_to "Item Master", items_path, class: "nav-link" %>
          </li>
          <li class="nav-item<%= active_nav_item("customers") %>">
            <%= link_to "Customer Master", customers_path, class: "nav-link" %>
          </li>
          <li class="nav-item<%= active_nav_item("suppliers") %>">
            <%= link_to "Supplier Master", suppliers_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown my-2 my-lg-0">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account <b class="caret"></b>
            </button>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user, class: "dropdown-item" %></li>
              <li><%= link_to "Settings", '#', class: "dropdown-item" %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete, class: "dropdown-item" %>
              </li>
            </ul>
          </li>
          <% else %>
          <li class="nav-item">
            <%= link_to "Log in", login_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_path, class: "nav-link" %>
          </li>
          <% end %>
        </ul>
        <span class="navbar-text">
          <strong><%= @exchange_rate %></strong>
        </span>

      </div>
    </nav>

    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <div class="container main-contents">
      <%= yield %>
    </div>

    <footer>
      <p>SDL2</p>
    </footer>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
